<div class="main-content section_padding_50 about-page">
  <div class="container-fluid">
    <div style="text-align:center">
      <img width="200" alt="Agora logo" src="../assets/agora.png">
      <div class="container">
        <h1>
          About Agora Vote
        </h1>
        <p>
          Agora is a library of data structures and algorithms for counting votes in elections.
          <br>
          <a target="_blank" href="https://gitlab.com/aossie/Agora/" class="btn btn-gold btn-round">Learn More about
            Agora</a>
        </p>
        <p>
          Agora vote is a voting platform where users can create elections and invite friends to cast their votes.
          <br>
          This application uses <a class="gold" target="_blank" href="https://gitlab.com/aossie/Agora-Web">Agora Web
            API</a> as
          backend application.
          <br><br>
          For contributing to the Agora Web app or reporting any issues, visit <a target="_blank" href="https://gitlab.com/aossie/Agora-web-frontend"
            class="gold">https://gitlab.com/aossie/Agora-web-frontend</a>
          <br><br>
          Agora &amp; Agora Vote is maintained by <a href="http://aossie.org/" target="_blank" class="gold">AOSSIE</a>,
          Australian
          Open Source Software Innovation and Education and all its contributors.
        </p>
      </div>
    </div>
  </div>
</div>
