<div class="main-content">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3>Cast your vote</h3>
            <p class="text-gold">You can select more than one candidate in this election</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <br>
            <div class="card pt-20">
              <div class="card-header card-header-gold">
                <h4 class="card-title">Election Candidates</h4>
                <p class="card-category">Press the plus button to add a candidate to your ballot</p>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let candidate of candidates; let ind = index">
                      <td class="text-black">{{candidate}}</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" (click)="add(ind)" matTooltip="Add to ballot" [matTooltipPosition]="'above'" class="btn btn-gold btn-link btn-sm btn-just-icon">
                          <i class="material-icons">add_circle</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <br>
            <div class="card pt-20">
              <div class="card-header card-header-gold">
                <h4 class="card-title">Your ballot</h4>
                <p class="card-category">Move candidates up or down to change position</p>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody class="container" dragula="SELECTED" [(dragulaModel)]="selected">
                    <tr *ngFor="let candidate of selected; let ind = index">
                      <td class="text-black">{{candidate}}</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" (click)="delete(ind)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">delete</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <span class="pr-20">
              <button class="btn btn-round btn-gold" (click)="cancel()">Cancel</button>
            </span>
            <span class="pr-20 text-right">
              <button class="btn btn-round btn-gold" [disabled]="isEmpty()" (click)="vote()">{{msg}}</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>