/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

.section_padding_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_padding_100_50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section_padding_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_padding_50_20 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.section_padding_150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section_padding_0_100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section_padding_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section_padding_0_50 {
    padding-top: 0;
    padding-bottom: 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-100 {
    margin-left: 100px;
}

ul,
ol {
    margin: 0;
    padding: 0;
}


a,
a:hover,
a:focus,
a:active {
    text-decoration: none !important;
    outline:none !important;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

li {
    list-style: none;
}

p {
    color: #222;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}

.heading-text > p {
    font-size: 16px;
}

.section-heading > h2 {
    font-weight: 300;
    font-size: 48px;
    margin: 0;
}


.section-heading {
    margin-bottom: 60px;
}

.line-shape-white,
.line-shape {
    width: 80px;
    height: 2px;
    background-color: #ffcd00;
    margin-top: 15px;
}

.line-shape {
    margin-left: calc(50% - 40px);
}

.table {
    display: table;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

#preloader {
    overflow: hidden;
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.agora-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running agora-load;
    animation: 2000ms linear 0s normal none infinite running agora-load;
    background: transparent none repeat scroll 0 0;
    border-color: #dddddd #dddddd #ffcd00;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    left: calc(50% - 20px);
    position: relative;
    top: calc(50% - 20px);
    width: 40px;
    z-index: 9;
}

@-webkit-keyframes agora-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes agora-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*
 * Credential forms 
 */

 .form-clean {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  .form-clean form {
    max-width:320px;
    width:90%;
    margin:0 auto;
    background-color:#ffffff;
    padding:20px;
    border-radius:4px;
    color:#505e6c;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .form-clean .logo {
    text-align:center;
    padding:0 0 20px;
  }

  .form-clean .logo img {
      height: 100px;
      width: 100px;
  }
  
  .form-clean form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:8px;
    height:42px;
  }
  
  .form-clean form .btn-primary, .form-clean form .btn-primary:hover, .form-clean form .btn-primary:active {
    background:#FFCD00;
    border-color: #FFCD00;
    color: #00843D;
    border-radius: 24px 24px 24px 0px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none !important;
  }
  
  .form-clean form .btn-primary:active {
    transform:translateY(1px);
  }

  .form-clean form .btn-primary:disabled, .form-clean form .btn-primary[disabled] {
    cursor: not-allowed;
  }
  
  .form-clean form .forgot, .form-clean form .have-account, .form-clean form .social-container{
    display:block;
    text-align:center;
    font-size:12px;
    color:#222;
    text-decoration:none;
  }

  .form-clean form .forgot:hover, .form-clean form .forgot:active {
    opacity:1;
    color:#FFCD00;
    text-decoration:none;
  }

  .form-clean form .forgot, .form-clean form .have-account > a{
    opacity:1;
    color:#00843D;
    text-decoration:none;
  }

  .form-clean form .have-account > a:hover {
    color:#FFCD00;
  }

  .form-clean form .error{
    opacity:1;
    color:red;
    text-align: center;
    text-decoration:none;
  }

  .form-clean form .success, .form-clean form .error-activate-account, .form-clean form .msg-activate-account {
    opacity:1;
    text-align: center;
    text-decoration:none;
  }

  .form-clean form .success {
    color:green;
  }

  .form-clean form .error-activate-account {
    color:red;
  }

  /* Green header */
  .header-green {
    background:linear-gradient(135deg, #49ee96, #00843D);
    background-color:#00843D;
    padding-top:100px;
    color: #ffff
  }
