<!-- Footer -->
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-about wow fadeInUp">
          <img class="logo-footer" src="assets/agora.png" alt="logo-footer" data-at2x="assets/agora.png">
          <p>
            Agora vote is a platform where users can create elections and invite others to vote.
          </p>
              </div>
        <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
          <h3>Contact</h3>
              <p>Gitlab: <a href="https://gitlab.com/aossie/">AOSSIE Gitlab</a></p>
              <p>Gitter: <a href="https://gitter.im/GSoC-AOSSIE/">AOSSIE Gitter</a></p>
              </div>
              <div class="col-md-4 footer-links wow fadeInUp">
                <div class="row">
                  <div class="col">
                    <h3>Links</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p><a class="scroll-link" routerLink="/">Home</a></p>
                    <p><a routerLink="/about">About</a></p>
                    <p><a routerLink="/help">Help</a></p>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
           <div class="col-md-6 footer-copyright">
                Copyright &copy; <a href="http://aossie.org/"> AOSSIE 2018</a> all rights reserved
              </div>
         </div>
    </div>
  </div>
</footer>