/***** Footer *****/

.footer-top { 
    padding: 20px 0; 
    background: #333; 
    text-align: left; 
    color: #FFCD00; 
}
.footer-top h3 {
     padding-bottom: 10px; 
     color: #fff; 
}

.footer-about img.logo-footer {
     max-width: 74px;
     margin-top: 0;
      margin-bottom: 18px;
}
.footer-about p { 
    color: #FFCD00;
    border: 0; 
}
.footer-about p a:hover, .footer-about p a:focus { 
    border: 0; 
}

.footer-contact p { 
    word-wrap: break-word;
    color: #aaa; 
}
.footer-contact i { 
    padding-right: 10px; 
    font-size: 18px; 
    color: rgb(54, 133, 91); 
}
.footer-contact p a { 
    color: #00843D; 
    border: 0; 
}
.footer-contact p a:hover, .footer-contact p a:focus {
    color: #FFCD00; 
     border: 0; 
}

.footer-links a { 
    color: #aaa;
    border: 0; 
}
.footer-links a:hover, .footer-links a:focus { 
    color: #FFCD00; 
}

.footer-bottom { 
    padding: 15px 0 17px 0; 
    background: #444; 
    text-align: left; 
    color: #aaa; 
}

.footer-social { 
    padding-top: 3px; 
    text-align: right; 
}

.footer-copyright { 
    padding-top: 
    5px; 
}
.footer-copyright a { 
    color: #00843D; 
    border: 0; 
}
.footer-copyright a:hover, .footer-copyright a:focus { 
    color: #FFCD00;
     border: 0; 
}
